.task {
  display: flex;
  justify-content: space-between;
  text-align: left; 
  background-color: rgba(0, 0, 200, 0.25);
  padding: 15px;
  padding-left: 50px;
  margin-bottom: 10px;
  align-items: center;
  font-size: 12px;
  position: relative;
  border-radius: 4px;
}

.task-0 {
  background-color: rgba(0, 200, 0, 0.25);
}

.task input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.task span {
  display: inline-block;
  width: calc(100% - 50px);
}

.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 0.8;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.task:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.task input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.task input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.task .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flex-grow {
  flex-grow: 1;
}

.input-count {
  position: absolute;
  bottom: 0;
  right: 75px;
  font-size: 12px;
}